# Archivos de entorno virtual
/functions/venv/

# Credenciales y secretos
serviceAccountKey.json
/functions/serviceAccountKey.json
*.env

# Archivos generados por Python
__pycache__/
*.pyc

# Archivos de log de Firebase
firebase-debug.log
firebase-debug.*.log